#week-table {
	width: 100%;
}

#week-table tr td {
	background-color: green;
	width: 10000px;
	
	border: solid 2px #000000;
    border-style: none solid solid none;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

#week-table tr td.free {
	background-color: blue;
}

#week-table tr td.busy {
	background-color: red;
}

#week-container {
	clear: both;
}

.container {
}

.info {
	float: left;
	text-align: right;
}

.left {
	margin-left: 32px;
	text-align: left;
}
