#week-table {
	width: 100%;
}

#week-table tr td {
	background-color: green;
	width: 4096px;	
}

#week-table tr td.free {
	background-color: blue;
}

#week-table tr td.busy {
	background-color: red;
}

.container {
}

.right {
}

